
body {
  font-family : 'Ubuntu', sans-serif;
}

#container {
  overflow : hidden;
  margin   : 0;
  padding  : 0;
  min-width: 1050px;
}

* {
  -webkit-font-smoothing  : antialiased;
  -moz-osx-font-smoothing : grayscale;
}

ul ,li {
  list-style : none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration : none;
}

header {
  height : 20px;
  width  : 100%;
  max-width: 1550px;
  margin: 0 auto;
}

#logo {
  float       : left;
  height      : 20px;
  width       : 200px;
  margin      : 0 1em;
  padding     : 0;
  font-family : 'Ubuntu', sans-serif;
  font-size   : 2em;
  border      : 0px solid black;
}

#logo img {
  width       : 120px;
  border      : 0px solid black;
  max-height: : auto;
}

#search {
  float     : right;
  margin    : 0 4em;
  font-size : 0.68em;
}

.search-list li {
  display : inline;
}

input {
  padding           : 5px;
  background-color  : black;
  font-size         : 0.68em;
  color             : white;
  border            : none;

  border-decoration : none;
}

input:focus {
  outline : 0;
}

nav {
  margin-top : 50px;
  margin-bottom: 7px;
}

.nav-flex-container {
  display         : flex;
  width           : 100%;
  color           : black;
  justify-content : center;
}

.nav-flex-item {
  display : flex;
}

.nav {
  font-size  : 0.75em;
  list-style : none;
}

.nav a {
  display : block;
  padding : 0 1.75em;
  color   : black;
}

.nav a:hover {
  color : #ccc;
}

 .nav .line:after {
    content        : "";
    position       : relative;
    display        : inline-block;
    vertical-align : top;
    top            : 0px;
    left           : 1.75em;
    height         : 20px;
    opacity        : 1;
    color          : black;
    border-right   : 1px solid rgb(88, 44, 131);
    transform      : rotateZ(-39deg);
  }

.chevron {
  content        : "";
  position       : relative;
  display        : inline-block;
  vertical-align : middle;
  top            : -1px;
  margin-right   : 10px;
  margin-left    : 3px;
  border-color   : transparent #635b55;
  border-style   : solid;
  border-width   : 4px 0px 4px 5px;
  transform      : rotate(90deg);
}

.carousel {
  height     : 377px;
  width      : 100%;
  max-width: 1550px;
  background : black;
  margin:0 auto;

}

.carousel img {
  height      : 377px;
  width       : 1550px;
  margin:0;
}

.carousel-panel {
  position          : absolute;
  overflow          : hidden;
  height            : 377px;
  width             : 850px;
  background: transparent url("../images/carousel_panel_large.png") no-repeat left top;
  background-size: 850px 377px;
 
 /*
  -webkit-clip-path : polygon(0 0, 66% 0%, 100% 100%, 0% 100%);
  clip-path         : polygon(0 0, 66% 0%, 100% 100%, 0% 100%);
  */
}

#carousel-arrow-next {
  width             : 40px;
  height            : 75px;
  background: transparent url("../images/carousel-arrow.png") no-repeat left top;
  background-size: 40px 75px;
  position: relative;
  top: 150px;
  right: 25px;
  transform: rotate(180deg);
  cursor: pointer;
  display: inline;
  float: right;
}

#carousel-arrow-previous {
  width             : 40px;
  height            : 75px;
  background: transparent url("../images/carousel-arrow.png") no-repeat left top;
  background-size: 40px 75px;
  position: relative;
  top: 150px;
  left: 25px;
  cursor: pointer;
  display: inline;
  float: left;
}

#welcome {
  position    : absolute;
  z-index     : 100;
  margin-top  : 109px;
  margin-left : 189px;
  font-size   : 2.9em;
  color       : white;
}

#subtitle {
  position    : absolute;
  z-index     : 100;
  margin-top  : 290px;
  margin-left : 282px;
  font-size   : 1.4em;
  color       : white;
}

#title {
  position    : absolute;
  z-index     : 100;
  margin-top  : 155px;
  margin-left : 172px;
  font-size   : 5.8em;
  color       : white;
}


#slides {
  position        : relative;
  margin          : 0px;
  padding         : 0px;
  list-style-type : none;
}

.slide {
  position           : absolute;
  top                : 0px;
  left               : 0px;
  height             : 100%;
  width              : 100%;
  opacity            : 0;
  -webkit-transition : opacity 2s;
  -moz-transition    : opacity 2s;
  -o-transition      : opacity 2s;
  transition         : opacity 2s; 
}

.showing {
  opacity : 1;
}

.icons-nav {
  font-size  : 0.75em;
  text-align : center;
  list-style : none;
  margin-top: 100px;
}

.icons-flex-container {
  width           : 100%;
  color           : black;
  margin: 100px auto;
}

.icon-nav-item {
  display: inline-flex;
}

.icons-nav a  {
  display : block;
  padding : 0;
  color   : black;
}

.icon {
  width: 140px;
  height: auto;
  margin: 0 auto;
}

.icon-image {
  width: 140px;
  height: 140px;
}

.icon-block:hover .icon-animation {
  opacity: 0.2;
  transform: scale(1.1) translateY(-10px);
  transform-origin: 50% 50%;
  transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
 
  -webkit-transform: scale(1.1) translateY(-10px);
  -webkit-transform-origin: 50% 50%;
  -webkit-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
}

.icon-title {
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 5px;
  width: 200px;
}

.icon-subtitle {
  width: 200px;
}

#icon-1, #icon-2, #icon-3, #icon-4, #icon-5 {
  opacity: 1;
  transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
}

.icon-block {
    cursor: pointer;
    margin: 0 auto;
    width: 200px;
}

.icon-block:hover .icon-outline{
  opacity: 0.2;
  transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
}


#icon-3 {
  padding-left: 15px;
}


.icon-1-st0{fill:#1D1D1B;}
.icon-1-st1{fill:none;stroke:#1D1D1B;stroke-width:1.5;stroke-linecap:round;stroke-miterlimit:10;}
.icon-1-st2{fill:none;stroke:#1D1D1B;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
.icon-1-st3{fill:none;stroke:#1D1D1B;stroke-width:1.5;stroke-miterlimit:10;}

.icon-2-st0{fill:none;stroke:#1D1D1B;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
.icon-2-st1{fill:none;stroke:#1D1D1B;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
.icon-2-st2{fill:#1D1D1B;}
.icon-2-st3{fill:none;stroke:#1D1D1B;stroke-width:2;stroke-miterlimit:10;}
.icon-2-st4{fill:#FFFFFF;}

.icon-3-st0{fill:none;stroke:#1D1D1B;stroke-width:2;stroke-miterlimit:10;}
.icon-3-st1{fill:none;stroke:#1D1D1B;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
.icon-3-st2{fill:none;stroke:#1D1D1B;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}

.icon-4-st0{fill:none;stroke:#1D1D1B;stroke-width:1.5;stroke-miterlimit:10;}
.icon-4-st1{fill:none;stroke:#1D1D1B;stroke-width:1.5;stroke-linecap:round;stroke-miterlimit:10;}
.icon-4-st2{fill:none;stroke:#1D1D1B;stroke-width:1.0769;stroke-miterlimit:10;}
.icon-4-st3{fill:none;stroke:#1D1D1B;stroke-width:1.077;stroke-miterlimit:10;}
.icon-4-st4{fill:none;stroke:#1D1D1B;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}

.icon-5-st0{fill:none;stroke:#1D1D1B;stroke-width:1.6073;stroke-miterlimit:10;}
.icon-5-st1{fill:none;stroke:#1D1D1B;stroke-width:1.0716;stroke-miterlimit:10;}
.icon-5-st2{fill:#1D1D1B;}
.icon-5-st3{fill:none;stroke:#1D1D1B;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}

@media only screen and (max-width: 1424px) {
  
  /*
  .icons-nav {
    font-size  : 2em;
  }

  .nav a {
    padding : 0 1.75em;
  }

  .nav {
    font-size  : 2em;
  }
  */

}


@media only screen and (max-width: 1280px) {
 
  .carousel img {
    height      : 377px;
    width       : 1550px;
    margin-left: -200px;
  }

  .carousel-panel {
    width             : 650px;
    height            : 377px;
    background: transparent url("../images/carousel_panel_medium.png") no-repeat left top;
    background-size: 650px 377px;
  }

  #welcome {
    position    : absolute;
    z-index     : 100;
    margin-top  : 126px;
    margin-left : 103px;
    font-size   : 2.2em;
    color       : white;
  }

  #subtitle {
    position    : absolute;
    z-index     : 100;
    margin-top  : 270px;
    margin-left : 138px;
    font-size   : 1.125em;
    color       : white;
  }

  #title {
    position    : absolute;
    z-index     : 100;
    margin-top  : 160px;
    margin-left : 80px;
    font-size   : 5em;
    color       : white;
  }
}